<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>{{err.status}}</h1>
        </div>
        <div class="notfound-404-message"><h1>{{err.message}}</h1></div>
        <h2>Rất tiếc! Đã xuất hiện lỗi đối với yêu cầu của bạn!</h2><br/>
        <div><a class="btn btn-primary" href="/">Quay về Trang chủ</a></div>
    </div>
</div>